.brendSVG {
  img {
    width: 22px;
  }
}

.cuting {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  //align-items: center;
  table {
    thead {
      th {
        text-align: center;
      }
    }

    tbody {
      tr {
        height: 50px;
      }
      tr:hover {
        font-weight: bold;
      }
      td {
        text-align: center;
      }
      td:nth-child(1) {
        width: 200px;
      }
      td:nth-child(2) {
        width: 150px;
      }
      td:nth-child(3) {
        width: 150px;
      }
      .dltRep {
        width: 30px;
      }

    }
  }
}

.rightRep{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .setRep {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
}
.buttonSend {
  margin-top: 20px;
}