.infoMarkets {

  .buttonSend {
    display: flex;
    justify-content: center;
  }

  .textInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  }

}
