.custom-select {
  display: inline-block;
  padding-top: 4px;
}

.styled-select {
  appearance: none;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border: 1px solid #757575;
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  position: relative;
  z-index: 1;
}

.styled-select:focus {
  border-color: #4caf50;
  outline: none;
}

.styled-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #3498db transparent transparent transparent;
  transform: translateY(-50%);
  pointer-events: none;
}

.styled-select option {
  background-color: white;
}

/* You can customize this further based on your design preferences */
